*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
h1{
    background-color: black;
    color: aliceblue;
    height: 4rem;
    line-height: 4rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 5rem;
   

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: #000;
        cursor: pointer;
    }

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
}

#user-score,#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: lightblue;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}